@{
    ViewData["Title"] = "Index";
}
<div class="Index">
    <h1>Juego del Ahorcado</h1>
    <p>Bienvenido al juego del ahorcado</p>
    <a href='@Url.Action("nuevaPartida", "Home")' class="Jugar">Comenzar Partida</a>
</div>
